<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.selune.mybatis.mapper.UserMapper">

    <insert id="insertUser">
        <selectKey keyProperty="id" order="AFTER" resultType="integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO user_ (id, username) VALUES (#{id}, #{username})
    </insert>

    <update id="updateUser">
        UPDATE user_ SET username= #{username} WHERE id= #{id}
    </update>

    <delete id="deleteUser">
        DELETE FROM user_ WHERE id= #{id}
    </delete>

    <select id="findUserById" resultType="com.selune.mybatis.pojo.User">
        SELECT * FROM user_ WHERE id= #{id}
    </select>

    <select id="findUserByName" resultType="com.selune.mybatis.pojo.User">
        SELECT * FROM user_ WHERE username LIKE '%${username}%'
    </select>

    <!-- 用户信息综合查询
        #{userCustom.sex}: 取出pojo包装对象中的性别
        #{userCustom.username}: 取出pojo包装对象中的用户名
    -->
    <select id="findUserList" parameterType="com.selune.mybatis.pojo.UserQueryVO"
            resultType="com.selune.mybatis.pojo.UserCustom">
        SELECT * FROM user_ WHERE user_.sex= #{userCustom.sex} AND user_.username LIKE
                                                                   '%${userCustom.username}%'
    </select>

    <!-- 用户信息查询总数
        parameterType: 指定输入类型
        resultType: 输出结果类型
    -->
    <select id="findUserCount" parameterType="com.selune.mybatis.pojo.UserQueryVO"
            resultType="int">
        SELECT count(*) FROM user_ WHERE user_.sex= #{userCustom.sex} AND user_.username LIKE
                                                                          '%${userCustom.username}%'
    </select>

</mapper>